@use '../theme';

header#headerWrapper {
  --header-height: 11rem;

  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
}

button#menuToggle {
  position: relative;
  z-index: 5;
  // svg proportions
  width: 2rem;
  height: 1.4rem;
  margin: 0 2.5rem;


  background-image: url('../../assets/images/icon-hamburger.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

nav#menu {
  display: none;
}

img#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 0.1rem;

  transform: translate(-50%, -50%);
}

header#headerWrapper.menuOpen {
  button#menuToggle {
    // svg proportions
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('../../assets/images/icon-close.svg');
  }

  nav#menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100vh;

    background-color: rgba(theme.$very-dark-grey, 0.5);

    ul {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: var(--header-height);
      padding: 2.5rem;

      list-style-type: none;
      background-color: theme.$bg_primary;

      li {
        margin-top: 0.5rem;
        margin-left: 3rem;

        font-size: 1.2rem;
        font-weight: 700;

        a {
          text-decoration: none;
          color: theme.$text_secondary;
        }
      }
    }
  }

  img#logo {
    display: none;
  }
}

//// screen size >= 740 ///////////////////////////////////////////

@media screen and (min-width: 740px) {
  header#headerWrapper {
    padding: 7rem;
  }

  button#menuToggle {
    display: none;
  }

  img#logo {
    position: static;
    margin-right: 6rem;
    transform: none;
  }

  nav#menu {
    display: block;

    ul {
      display: flex;

      list-style-type: none;

      li {
        margin-right: 3rem;

        a {
          color: theme.$bg_primary;
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      li:hover {
        position: relative;
        cursor: pointer;

        a::after {
          content: '';
          position: absolute;
          display: block;
          margin-top: 0.7rem;
          width: 50%;

          transform: translateX(50%);
          border-bottom: 2px solid theme.$bg_primary;
        }
      }
    }
  }
}
