@use '../theme';

#spinnerWrapper {
  width: 100%;
  height: 100%;
}

ul#spinnerItems {
  position: relative;
  display: flex;
  overflow-x: hidden;
  // width: 100%;

  list-style-type: none;

  li.spinnerItem {
    // width: 100%;

    section.imageContainer {
      position: relative;

      img {
        display: block;
        width: 100vw;
        object-fit: contain;
      }

      div.spinnerControls {
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        width: 11rem;
        height: 5.5rem;

        background-color: theme.$text_secondary;

        button {
          flex: 1;
          margin: 2rem;

          cursor: pointer;
          border: none;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
        }

        button.leftButton {
          background-image: url('../../assets/images/icon-angle-left.svg');
        }

        button.rightButton {
          background-image: url('../../assets/images/icon-angle-right.svg');
        }
      }
    }

    section.infoContainer {
      padding: 7rem 3.5rem 5rem;

      article {
        margin-bottom: 5rem;

        h2 {
          padding-bottom: 2rem;

          letter-spacing: -1px;
          font-weight: 600;
          font-size: 2.8rem;
        }

        p {
          // color: theme.$dark-gray;
          color: theme.$dark-gray;
          letter-spacing: -0.5px;
          line-height: 1.6;
          font-weight: 500;
          font-size: 1.2rem;
        }
      }

      a.shopNow {
        display: flex;
        align-items: center;

        color: theme.$text_secondary;
        text-decoration: none;

        h3 {
          margin-right: 4rem;

          letter-spacing: 1rem;
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
    }
  }
}


//// screen width >= 1440px /////////////////////////////////////////

@media screen and (min-width: 1400px) {
  ul#spinnerItems {
    width: 100vw;
    height: 100%;

    li.spinnerItem {
      flex: 1 0 100vw;
      display: flex;
      // align-items: center;

      section.imageContainer {
        flex: 1 0 60%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        div.spinnerControls {
          transform: translateX(100%);
          width: 16rem;
          height: 8rem;

          button {
            margin: 0;
            padding: 2rem;
          }

          button:hover {
            background-color: theme.$very-dark-grey;
          }
        }
      }

      section.infoContainer {
        flex: 1 0 40%;

        padding: 3rem 9rem 0 10rem;
        margin: 9rem 0 5rem;

        article {
          margin-bottom: 3rem;

          h2 {
            padding-bottom: 2.5rem;
            font-size: 4rem;
            line-height: 1.1;
            letter-spacing: -2px;
          }

          p {
            line-height: 1.7;
          }
        }

        a.shopNow:hover {
          color: theme.$dark-gray;

          path {
            fill: theme.$dark-gray;
          }
        }
      }
    }
  }
}
